extends layout

block content
	.container
		.row
			form#query-form
				.col-md-3
					select.form-control(name='platform')
						option(value='') All
						each platform in platforms
							option(value=platform.platform)=platform.platform
				.col-md-3
					select.form-control(name='project_code')
						option(value='') All
						each projectCode in projectCodes
							option(value=projectCode.project_code)=projectCode.project_code
				.col-md-1
					a#refresh-btn.btn(class=`btn-primary`, href='#', role="button") Refresh
		.row
			#main-canvas


append scripts
	script(src="https://cdn.bootcss.com/echarts/4.0.0/echarts.min.js")
	script(src='/javascripts/main.js')